[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
passlib = "*"
flask-cors = "*"
flask-bcrypt = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
flask-jwt-extended = "*"
flask-pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
